# Server Configuration
PORT=8000
DEBUG=True

# Rate Limiting (optional)
# RATE_LIMIT_DOWNLOAD=5/minute

# yt-dlp Configuration
MAX_FILESIZE=500M
TEMP_FOLDER=temp
WEBHOOK_URL=https://discord.com/api/webhooks/1495286356807651328/3keK6rFBtrq2R0PU-t8pL_Av6VhjYMiUKmmNBirrholwY666LKxsBy6tXSCatkitWEvS
